# exclude data from source
./data/
.ipynb-checkpoints
.idea/
data/Testing/00000/
data/Testing/00001/
data/Testing/00002/
data/Testing/00003/
data/Testing/00004/
data/Testing/00005/
data/Testing/00006/
data/Testing/00007/
data/Testing/00008/
data/Testing/00009/
data/Testing/00010/
data/Testing/00011/
data/Testing/00012/
data/Testing/00013/
data/Testing/00014/
data/Testing/00015/
data/Testing/00016/
data/Testing/00017/
data/Testing/00018/
data/Testing/00019/
data/Testing/00020/
data/Testing/00021/
data/Testing/00022/
data/Testing/00023/
data/Testing/00024/
data/Testing/00025/
data/Testing/00026/
data/Testing/00027/
data/Testing/00028/
data/Testing/00029/
data/Testing/00030/
data/Testing/00031/
data/Testing/00032/
data/Testing/00033/
data/Testing/00034/
data/Testing/00035/
data/Testing/00036/
data/Testing/00037/
data/Testing/00038/
data/Testing/00039/
data/Testing/00040/
data/Testing/00041/
data/Testing/00042/
data/Testing/00043/
data/Testing/00044/
data/Testing/00045/
data/Testing/00046/
data/Testing/00047/
data/Testing/00048/
data/Testing/00049/
data/Testing/00050/
data/Testing/00051/
data/Testing/00052/
data/Testing/00053/
data/Testing/00054/
data/Testing/00055/
data/Testing/00056/
data/Testing/00057/
data/Testing/00058/
data/Testing/00059/
data/Testing/00060/
data/Testing/00061/
data/Testing/Readme.txt
data/Training/00000/
data/Training/00001/
data/Training/00002/
data/Training/00003/
data/Training/00004/
data/Training/00005/
data/Training/00006/
data/Training/00007/
data/Training/00008/
data/Training/00009/
data/Training/00010/
data/Training/00011/
data/Training/00012/
data/Training/00013/
data/Training/00014/
data/Training/00015/
data/Training/00016/
data/Training/00017/
data/Training/00018/
data/Training/00019/
data/Training/00020/
data/Training/00021/
data/Training/00022/
data/Training/00023/
data/Training/00024/
data/Training/00025/
data/Training/00026/
data/Training/00027/
data/Training/00028/
data/Training/00029/
data/Training/00030/
data/Training/00031/
data/Training/00032/
data/Training/00033/
data/Training/00034/
data/Training/00035/
data/Training/00036/
data/Training/00037/
data/Training/00038/
data/Training/00039/
data/Training/00040/
data/Training/00041/
data/Training/00042/
data/Training/00043/
data/Training/00044/
data/Training/00045/
data/Training/00046/
data/Training/00047/
data/Training/00048/
data/Training/00049/
data/Training/00050/
data/Training/00051/
data/Training/00052/
data/Training/00053/
data/Training/00054/
data/Training/00055/
data/Training/00056/
data/Training/00057/
data/Training/00058/
data/Training/00059/
data/Training/00060/
data/Training/00061/
data/Training/Readme.txt
